@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');


*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 10px;
}


/***************  colors ****************/

$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-grey: hsl(0, 0%, 27%);


header {
  background-image: url(../../images/mobile-image-hero-1.jpg);
  height:36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header-wrapper {
    display: flex;
    padding: 4rem 2.5rem;

    &.open {
      background-color: $white;
    }
  }
}

.hamburger {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 100;
  &:focus {
    outline: none;
  }
}

nav {
  width: 100%;
  visibility: hidden;  
  position: relative;
  display: flex;
  justify-content: flex-end;

  li {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }
}

.logo {
  position: absolute;
  align-self: center;
  color: $very-dark-grey;
  font-size: 2.4rem;
  font-weight: 600;
  left:50%;
  transform: translateX(-50%);
  color: $white;
}

.arrows-wrapper {
  background-color: $black;
  height: 5.5rem;
  width: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;


  .arrow {
    padding: 0 2rem;
  }
}
  

section {
  padding: 7rem 3rem;

  h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 300;
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    color: $dark-gray;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 4rem;
  }
}







































