/* Variables*/

$dark-blue: hsl(217, 19%, 35%);
$desaturated-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  background-color: $light-blue;
}

.article__component {
  margin: 0 auto;
  width: 100%;
}

.card {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  width: 32.5rem;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.1);  

  .image__content {
    background-image: url("../../images/drawers.jpg");
    background-position: center;
    background-size: cover;
    height: 20rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .text__content {
    padding: 3.2rem 3.2rem 1.8rem 3.2rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $dark-blue;
    line-height: 1.3;
    letter-spacing: 0.3px;
    margin-bottom: 1.5rem;
  }

  p.article__intro {
    font-size: 1.3rem;
    color: $desaturated-blue;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin-bottom: 3.2rem;
  }

  .icon__share {
    background-color: $light-blue;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-self: center;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 4rem;

    img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
    }

    .info {
      display: flex;

      p {
        margin-left: 1.2rem;
      }

      .author {
        color: $dark-blue;
        font-weight: 700;
        margin: 0.5rem 0 0.3rem 0;
        display: block;
      }

      .date {
        color: $grayish-blue;
        display: block;
      }
    }

    
  }

  .share__box {
    height: 6.4rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: $dark-blue;
    border-radius: 0 0 1rem 1rem;
    padding: 2.3rem 3.2rem;
    display: none;

    span {
      color: $light-blue;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: center;
    }

    .icons__social {
      display: flex;
      align-content: center;

      svg {
        margin: 0 7px;
        align-self: center; 
      }
    }    

  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .card {
    width: 40rem;
    .text__content {
      padding: 3.6rem 5rem;

    } 
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .card {
    display: flex;
    width: 58rem;
    height: 34rem;

    h4{
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }

    p.article__intro {    
      margin-bottom: 2.5rem;
    }

    .image__content {  
      height: 100%;
      width: 45%;
      border-radius: 1rem 0 0 1rem;
    }
    .text__content {
      width: 55%;
      padding:  4rem 3.2rem;
    }
  }  
}

@media only screen and (min-width: 768px) {
  .card {
    width: 65rem;
    height: 28rem;
    display: flex;

    h4 {
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }

    .image__content {  
      height: 100%;
      width: 45%;
      border-radius: 1rem 0 0 1rem;
    }

    .text__content {
      width: 55%;
      padding: 3rem 3.2rem;
    }

    p.article__intro {    
      margin-bottom: 2.3rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .card {
    display: flex;
    width: 73rem;
    height: 28rem;

    h4 {
      font-size: 1.9rem;      
      margin-bottom: 1.8rem;
      padding-right: 2rem;
      line-height: 1.4;
    }

    .image__content{
      width: 28.5rem;
      height: 100%;
      border-radius: 1rem 0 0 1rem;  
    }

    .text__content {
      width: 44.5rem;
      padding: 3.2rem 4rem;
    }

    p.article__intro {
      font-size: 1.3rem;
      color: $desaturated-blue;
      line-height: 1.55;
      font-weight: 500;
      letter-spacing: 0.15px;
      margin-bottom: 1.8rem;
    }
  }

}
