*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;  
  color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* colors */
$white: #fff;
$darkest-grey: hsl(0, 0%, 17%);
$grey-hover:hsl(0, 0%, 23%);
$dark-grey: hsl(0, 0%, 59%);
$grey-shadow: hsla(0, 0%, 59%, 0.3);

header {
  height: 36vh;
  background-image: url('../../images/pattern-bg.png');
  background-size: cover;
  text-align: center;
  padding: 2.4rem;

  h1 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 500;
  }

  form {
    margin: 2.4rem 0;
    height: 6rem;
    display: flex;
    width: 100%;    

    input{
      cursor: pointer;
    }

    input[type=text] {
      width: 80%;
      border: none;
      font-size: 1.2rem;
      border-bottom-left-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      padding-left: 2.4rem;
    }

    input[type=submit] {
      width: 20%;
      border: none;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      background-color: $darkest-grey;
      color: $white;
      font-weight: 100;
      font-size: 2rem;
      transition: background-color 0.1s ease;
    }

    input:focus{
      outline: none;
    }

    input[type=submit]:hover {
      background-color: $grey-hover;
    }
    
  }
  
}

#map {
  height: 64vh;
  position: relative;
  z-index:-1;
}

main {
  width: 100%;
  padding: 2.4rem;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  transform: translateY(-40%);

  .data-display {
    background-color: $white;
    height: 29.5rem;
    border-radius: 1.5rem;
    padding: 2.4rem;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 20px 25px $grey-shadow;
    color: $darkest-grey;
    font-weight: 500;


    .label {
      font-size: 1rem;
      color: $dark-grey;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }

    .data {
      margin-bottom: 0.8rem;
    }
  }
}

// Medium screens
@media only screen and (min-width: 600px) {  
  header {
    form {
      max-width: 45rem;
      margin: 2.4rem auto;
    }
  }
  main {
    padding: 2.4 8rem;
    .data-display {
      flex-direction: row;
      height: 14rem;
      align-items: center;
      font-size: 1.5rem;
    }

    .border {
      padding:0 3rem;        
      width: 100%;    
      text-align: left;  
      
      &:nth-child(-n+3){
        border-right: 1px solid $dark-grey;
      }
    }
  }
}

//Desktop design
@media only screen and (min-width: 1000px) {  
  header {
    padding-top: 3rem;
    height: 28rem;

    h1 {
      font-size: 2.8rem;
    }

    form {
      max-width: 55rem;
    }

  }

  main {
   padding: 2.4rem 10rem;
   
    
    .data-display {
      height: 16.5rem;
      font-size: 1.8rem;
    

      .label {
        text-align: left;
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {  
  main {
    padding: 2.4rem 16.2rem;
    .data-display {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (min-width: 2000px) {
  main {
   padding: 2.4rem 30rem;    

   .data-display {   
    font-size: 2.8rem;
    height: 20rem;
   }
  
  }

}

